.pokeTitle{
    font-family: 'Press Start 2P', cursive;
   -webkit-text-stroke: 2px rgb(55, 55, 203)!important;
}
.pokeHead{
    background-color: #b8b4b4;
}
h3{
    font-family: 'Press Start 2P', cursive;
    color: #ffc107;
   -webkit-text-stroke: 2px rgb(55, 55, 203)!important;
   margin: 5% auto;
}

li {
    font-family: 'Press Start 2P', cursive;
    display: inline;
    vertical-align: top;
    margin: 2% 0.5%;
    font-size: 1.2rem;
    text-align: center;
    
}

.btn{
    margin: 1.5% 0.5%!important;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6rem;
}
body{
    background-color: #edebeb;
}
